<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @board.topic %>
</p>

<% @board.links.each do |link| %>
<%= link_to link.title, link, class: "main-link"  %>

<%= link_to 'Back', boards_path %>

<% end %>
