@import "bootstrap-sprockets";
@import "bootstrap";




header {
  background-color: #9E9E9E;
  height: 3em;
  padding-top: 5px;
  display: inline-block;
  width: 100%;}

body {
  color: #3B3A3A;
  background-color: #C9C9C9;
  width:100%;
  margin: 0px;
}

.container-fluid {
  margin: 0px;
  width: 100%;
}

.front_page_inner_boxes {
  border: solid 1px black;
}

.front_page_outer_box {
  border: solid 1px black;
}

.side_panel {
  background-color: #3B3A3A;
  width: 200px;
  float: right;
  right: 0px;
  height: 100%;
  bottom: 0px;
  color:#C9C9C9;
  font-size: 14px;
  margin-top: -5px;
}

.comments {
  border: 1px solid #3B3A3A;
}

.side_panel_image {
}
.header_image {
  font-size: 20px;
}

.header_login_area {
  font-size: 20px;
}

.header_image a{
  text-decoration: none;
}

.header_login_area {
}

footer {
  background-color: #9E9E9E;
  height: 3em;
  width: 100%;
  bottom: 0;
}
