@import "bootstrap-sprockets";
@import "bootstrap";

header {
  background-color: #9E9E9E;
  height: 45px;
  display: inline-block;
  width: 100%;
  padding-top: 10px;
}

body {
  color: #3B3A3A;
}

.side_panel {
  background-color: #3B3A3A;
  display: inline-block;
  width: 200px;
  float: right;
  right: 0px;
  height: 100%;
  bottom: 0px;
}
.header_image {
  float: left;
  padding-left: 20px;
  font-size: 20px;
}

.header_image a{
  text-decoration: none;
}

.header_login_area {
  float: right;
  padding-right: 20px;
}

footer {
  background-color: #9E9E9E;
  height: 45px;
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  bottom: 0;
}
