@import "bootstrap-sprockets";
@import "bootstrap";

header {
  background-color: #9E9E9E;
  height: 5em;
  padding-top: 5px;
  display: inline-block;
  width: 100%;}

body {
  color: #3B3A3A;
  background-color: #C9C9C9;
  width: 100%;
}

/* Button 6d */
.btn-6d {
  border: 2px solid #226fbe;
}

.btn-6d:hover {
  background: transparent;
  color: #9E9E9E;
}

.link--kukuri {
  text-transform: uppercase;
  font-weight: 900;
  overflow: hidden;
  line-height: 0.7;
  color: #b2b0a9;
  font-size: 2em;
}

.link--kukuri:hover {
  color: #6B6960;
}

.link--kukuri::after {
  content: '';
  position: absolute;
  height: 16px;
  width: 100%;
  top: 50%;
  margin-top: -8px;
  right: 0;
  background: #9E9E9E;
  transform: translate3d(-100%,0,0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kukuri:hover::after {
  transform: translate3d(100%,0,0);
}

.link--kukuri::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #424242;
  white-space: nowrap;
  width: 0%;
  transition: width 0.4s 0.3s;
}

* {

}

.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu a:hover {
  background: #258ecd;
}

.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.cbp-spmenu-vertical a {
  border-bottom: 1px solid #258ecd;
  padding: 1em;
}
.cbp-spmenu-left {
  left: -240px;
}

.cbp-spmenu-right {
  right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}


.link--kukuri:hover::before {
  width: 100%;
}

.container-fluid {
  margin: 0px;
  width: 100%;
}

.front_page_inner_boxes {
  border: solid 1px black;
}

.front_page_outer_box {
  border: solid 1px black;
}

.side_panel {
  background-color: #3B3A3A;
  // why do I need to set the width in order for the to stay put?
  width: 200px;
  float: right;
  right: 0px;
  min-height: 800px;
  bottom: 0px;
  color:#C9C9C9;
  font-size: 14px;
  margin-top: -5px;
}

.board_topic {
  font-size: 30px;
  font-weight: bold;
  background-color: #60676B;
  text-align: center;
}

.user_name{
  font-style: italic;
  color: #ABAB9A;
}


.comment {
  background-color: #D3E1EA;
  height: 200%;
}

.side_bar_image {
  display: inline-block;
}

.side_bar_text {
  display:inline-block;
}
.header_image {
  font-size: 20px;
  padding-top: 7px;
}

.header_login_area {
  font-size: 20px;
}

.header_image a{
  text-decoration: none;
}

footer {
  background-color: #9E9E9E;
  height: 3em;
  width: 100%;
  bottom: 0;
}
